
footer{
    background-color: $color_fondo;
    div{
        h3{
            @include negrita_y_size(2rem);
            color: black;
            @extend %centrado_tipografia;
        } 
        .contenedor_redes_footer{
            @extend %flex;
            justify-content: space-evenly;
            a{
                @extend %enlaces;
            }
            a:hover{
                background-color: $color_sombreado_enlaces;
                border-radius: 1rem;
                padding: 7px;
            }
        }
        .contenedor_novedades{
            display: flex;
            margin: 25px;
            flex-direction: column;
            align-items: center;
            label{
                @include negrita_y_size(1.5rem); 
                @extend %labels;
            }
            input{
                @extend %estilos_input_select;
            }
        }
        .contenedor_paginas{
            @extend %flex;
            list-style: none;
            padding: 0;
            @include negrita_y_size(1.2rem);
            justify-content: space-around;
            a{
                @extend %enlaces;
            }
            a:hover{
                background-color: $color_sombreado_enlaces;
                border-radius: 1rem;
                padding: 7px 0;
            }
        }
    }
    h3{
        font-size: 1rem;
        text-align: center;
        color: black;
        margin: 0;
    }
}