
footer{
    background-color: $color_fondo;
    div{
        h3{
            font-size: 2rem;
            font-weight: bold; 
            color: black;
            @extend %centrado_tipografia;
        } 
        .contenedor_redes_footer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            a{
                @extend %enlaces;
            }
            a:hover{
                background-color: rgba(59, 67, 99, 0.842);
                border-radius: 1rem;
                padding: 7px;
            }
        }
        .contenedor_novedades{
            display: flex;
            margin: 25px;
            flex-direction: column;
            align-items: center;
            label{
                font-size: 1.5rem;
                font-weight: bold;   
                @extend %labels;
            }
            input{
                @extend %estilos_input_select;
            }
        }
        .contenedor_paginas{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            font-weight: bold;   
            font-size: 1.2rem;
            justify-content: space-around;
            a{
                @extend %enlaces;
            }
            a:hover{
                background-color: rgba(59, 67, 99, 0.842); /* Cambia este color a tu preferencia */
                border-radius: 1rem;
                padding: 7px 0;
            }
        }
    }
    h3{
        font-size: 1rem;
        text-align: center;
        color: black;
        margin: 0;
    }
}