main{
    h1{
        @extend %estilos_h1;
    }
    .centrar_imagen_heroes{
        text-align: center;
        img{
            @include formato_imagenes(1em, 90%);
        }
    }
 
    .linea_horizontal_izquierda{
        @include lineas_divisoras(rgb(196, 217, 242), 8%)
    }
    
    .linea_horizontal_derecha{
        @include lineas_divisoras(rgb(196, 217, 242), 47%);
    }
    
    .rol{
        margin: auto 0;
        border-radius: 2rem;
    }

    .acomodar_imagenes_heroes{
        text-align: center;
        img{
            @include formato_imagenes(4rem, 70%);
        }
    }
    
    .caracteristicas_heroe{
        display: flex;
        flex-flow: column wrap;
        list-style: none;
        padding: 10px;
        @include negrita_y_size(1.2rem);
        color: white;
        justify-content: space-around;
        li{
            span{
                font-size: 1.4rem;
                color: $color_titulos;
            }
        }
    }
    
    .titulo_origenes{
        text-align: center;
        @include negrita_y_size(2rem);
        color: $color_titulos;
    }
}