%enlaces{
    color: white;
    text-decoration: none;
}

%estilos_iframe{
    height: 100%;
    left: 5%;
    position: absolute;
    top: 0;
    width: 90%;
    border-radius: 2rem;
}

%centrado_tipografia{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

%fondo_main{
    background-image: linear-gradient(rgba(60, 60, 73, 0.8), rgba(60, 60, 73, 0.8)),url("../img/fondo.png");
}

%estilos_h1{
    text-align: center;
    color: $color_titulos;
    padding: 25px 0;
    font-size: 4rem;
}

%labels{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 8px 8px;
    color: black;
}

%estilos_input_select{
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 1rem;
}

%flex{
    display: flex;
    flex-wrap: wrap;
}